Package: refind-set-default
Version: 0.0
Section: utils
Priority: optional
Architecture: all
Maintainer: Ikem Krueger <ikem.krueger@gmail.com>
Description: Automatically prioritizes a specific kernel for rEFInd bootloader.
